.validation-error {
	display:block;
	color:red;
}

.page-content {
	margin-top:50px
}
.current-theme {
	text-align: right;
}
.ideas-list {
	margin-top: 50px
}
.ideas-list .card {
	margin-bottom: 30px;
}
.modal-body {
	overflow-wrap: break-word;
}
.vote-buttons{
	position: absolute; 
	left: 0;
}
.vote-buttons a{
	margin-left: 15px;
}
.vote-buttons a.like-it{
	color: #3c763d;
}
.vote-buttons a.dont-like-it{
	color:  #a94442;
}